{% extends 'wrapper.html' %}


{% block content %}


{% load my_tag %}
<div class="container">
    <div class="row">
        <div class="col-6">
            {% for i in payment %}
             <div class="alert alert-primary" role="alert">
                 {{ i.0.month.month|date:"M Y" }} Взнослар {% total_cost i %}
              </div>

            {% endfor %}
        </div>
        <div class="col-6">


              {% for i in month_costs %}
              <div class="alert alert-warning" role="alert">
                  {{ i.0.month.month | date:" M Y  "}} Чк,им лар {% total_cost i %}
               </div>


            {% endfor %}
        </div>
    </div>
</div>
    


{% endblock %}