{% extends 'wrapper.html' %}
{% block content %}
<style>
  .msg{
    background-color: blue;
     position: fixed;
     right: 0;
     bottom: 50px;
     width: 25%;
     animation: run 1s linear ;
     z-index: 100;

   }
   @keyframes run {
   from{
       transform: translateX(500px);
   }
   to{
       transform: translateX(-8px);
   }
}
</style>



  {% load my_tag %}


  <div class="container text-center"><div class="row"><div class="col"></div>
    <h2> {{ date|date:" M Y" }}   : {% total_summa_  customer %}   summa   </h2> 
   <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Oylik to'lov</th>
            <th scope="col">To'langan summa</th>
            <th scope="col"> Active </th>
          </tr>
        </thead>
        <tbody>
            {% for c in  customer %}
          <tr>
            <th scope="row"> {{forloop.counter}}</th>
            <td><a href="/customer/{{c.id}}">{{c.name}}</a></td>
            <td  >{{c.total_summa}}  : {% payment_True_or_False c.total_summa c.customers.all.last.months.all %}  </td>
            <td> {% payment_summa c.customers.all.last.months.all %} </td>
            <td>{% if c.active == True %} ✅ {% elif c.active == False %} ❌ {% endif %}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div></div></body>


    {% endblock content %}