{% extends 'wrapper.html' %}
{% block content %}
    <div class="container text-center"><div class="row"><div class="col"></div>
   <table class="table">
        <thead>
          <tr>
                <th scope="col">#</th>
                <th scope="col">Исим</th>
                <th scope="col">Ту'лов санаси</th>
                <th scope="col"> Ой  </th>
                <th scope="col">Сумма</th>

          </tr>
        </thead>
        <tbody>
            {% for c in  payment %}
          <tr>
            <th scope="row"> {{forloop.counter}}</th>
            <td> <a href="/customer/{{c.customer.id}}">{{c.customer.name}}</a>  </td>
            <td > {{c.date |date:' M d'}}  </td>
            <td > {{c.month.month |date:' M'}}  </td>
            <td > {{c.summa }} </td>
            <form action="{% url 'main:payment_history' %}" method="post">
              {% csrf_token %}
              <!-- <td> <input  class="form-control" style="width: 90px !important;  " type="text" name="summa" value="{{c.summa }}" id=""></td> -->
              <!-- <input type="text" style="display: none;"  name="id" value="{{c.id}}" id=""> -->
              <!-- <td > <button  type="submit" class="btn btn-success" > O'zgartirish</button></td> -->
            </form >
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div></div></body>


    {% endblock %}